git config core.ignorecase false

node_modules
*.env
*.env.*

how
public/test2.html

public/image/blog1.webp
public/css/style.scss
public/css/style.css.map

.vscode
*.txt
config.js
Sales.md

# Local Netlify folder
.netlify
.vercel
